*{
    padding:0;
    margin:0;
}
.main{
    /* background-color: transparent; */
    width:100vw;
    height:100vh;
    display: flex;
}
.not-sidebar{
    width: 100%;
    height:100%;
}
.main-content{
    background-color: gray;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close{
    width: 30px;
    height: 30px;
    position: absolute;
    top:0;
    right: 0;
    z-index: 100;
    filter: invert(100%);

}
 .homebutton{
    color:black;
    width:80px;
    height:30px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    border: none;
    letter-spacing: 30px;
    position:absolute;
    top:35px;
    left:50%;
    transform: translate(-50%, 0); background: transparent;
    cursor: pointer;
}